In [4]:
# write a text into a file
text = "Nttdata"

f = open("aaa.txt","w")
f.write(text)
f.close()

In [6]:
# read the content from the file
f1 = open("aaa.txt" , "r")

data = f1.read()
print(data)
f1.close()

Nttdata , Bengaluru

In [7]:
f1 = open("aaa.txt" , "r")
print(f1)

<_io.TextIOWrapper name='aaa.txt' mode='r' encoding='UTF-8'>

In [8]:
f = open("aaa.txt",mode="r", buffering =10 , encoding="utf-8")

if f :
  print("file opened succesful")

file opened succesful

In [9]:
f = open("aaa.txt",'w')
print("file name is ", f.name)
print("file mode is ", f.mode)
print("file encoding", f.encoding)
print("is file closed" , f.closed)
f.close()
print("is file closed" , f.closed)

file name is  aaa.txt
file mode is  w
file encoding UTF-8
is file closed False
is file closed True

In [11]:
# file obj methods
f = open("aaa.txt",'w')
print(f.readable())
print(f.writable())
f.close()

False
True

In [12]:
# file obj methods
f = open("aaa.txt",'w+')
print(f.readable())
print(f.writable())
f.close()

True
True

In [13]:
name = "NTT Data"

f= open("aaa.txt",'w+')
f.write(name)
f.seek(0)
data = f.read()
print(data)
f.close()

NTT Data

In [16]:
number = int(input("enter a number"))
f = open("aaa.txt",'w')
f.write(number)
f.close()

enter a number100

TypeError: write() argument must be str, not int

In [20]:
# text mode & binary mode

f = open("aaa.txt",'r')
data = f.read(5)
data1= f.read(5)
print(data)
print(data1)
f.close()

nttda
ta be

In [18]:
f = open("aaa.txt",'rb')
data = f.read()
print(data)
f.close()

b'nttdata bengaluru\r\nwelcome\r\nhappy learning'

In [30]:
# readline
f = open("aaa.txt",'r')
data = f.readline()
data1= f.readline()
data2 = f.readline()
print(data,end="")
print(data1)
print(data2)
f.close()

nttdata bengaluru
welcome

happy learning

In [38]:
f = open("aaa.txt",'r')
#data = f.readline()
data1= f.readline()
data2 = f.readline()

print(data)
print(data1)
print(data2)

f.close()

ntt
data bengaluru

welcome

In [40]:
f = open("aaa.txt",'r')
#data = f.readline()
data1= f.readlines()


print(data1)


f.close()

['nttdata bengaluru\n', 'welcome\n', 'happy learning\n', '\n', 'India\n']